{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}
    <h1>Admin Dashboard</h1>

    <form action="/admin_dashboard" method="post">
    <h2>Manage Users</h2>
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Cash Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>testuser</td>
                <td>$10,000.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>exampleuser</td>
                <td>$5,500.00</td>
            </tr>
        </tbody>
    </table>
     <br><br>

    <h2>User Portfolio Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Stock Symbol</th>
                <th>Total Shares</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>AAPL</td>
                <td>6</td>
            </tr>
            <tr>
                <td>1</td>
                <td>T</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>AAPL</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>AAPL</td>
                <td>3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>GOOG</td>
                <td>9</td>
            </tr>
            <tr>
                <td>3</td>
                <td>NVDA</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TSLA</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>User Transaction History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Stock Symbol</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10</td>
                <td>T</td>
                <td>2</td>
                <td>$14.45</td>
            </tr>
            <tr>
                <td>11</td>
                <td>AAPL</td>
                <td>2</td>
                <td>$177.49</td>
            </tr>
            <tr>
                <td>12</td>
                <td>AAPL</td>
                <td>-1</td>
                <td>$177.49</td>
            </tr>
            <tr>
                <td>16</td>
                <td>T</td>
                <td>5</td>
                <td>$17.47</td>
            </tr>
            <tr>
                <td>21</td>
                <td>AAPL</td>
                <td>-5</td>
                <td>$244.6</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Most Traded Stocks Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Total Trades</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAPL</td>
                <td>10</td>
            </tr>
            <tr>
                <td>T</td>
                <td>4</td>
            </tr>
            <tr>
                <td>GOOG</td>
                <td>2</td>
            </tr>
            <tr>
                <td>TSLA</td>
                <td>1</td>
            </tr>
            <tr>
                <td>NVDA</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>User Stock Holdings Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Total Stocks Owned</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>User Spending Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Total Spent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>$3,546.70</td>
            </tr>
            <tr>
                <td>2</td>
                <td>$1,780.25</td>
            </tr>
            <tr>
                <td>1</td>
                <td>$1,694.23</td>
            </tr>
            <tr>
                <td>4</td>
                <td>$548.78</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Largest Single Transaction Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>User ID</th>
                <th>Stock Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>26</td>
                <td>3</td>
                <td>GOOG</td>
                <td>10</td>
                <td>$165.98</td>
                <td>$1,659.80</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Active Trading Users Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Total Transactions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>7</td>
            </tr>
            <tr>
                <td>3</td>
                <td>6</td>
            </tr>
            <tr>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Average Purchase Price per Stock</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Average Purchase Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAPL</td>
                <td>$208.53</td>
            </tr>
            <tr>
                <td>GOOG</td>
                <td>$165.98</td>
            </tr>
            <tr>
                <td>INFY</td>
                <td>$23.35</td>
            </tr>
            <tr>
                <td>NVDA</td>
                <td>$108.76</td>
            </tr>
            <tr>
                <td>TSLA</td>
                <td>$230.58</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Stocks With Highest Profit/Loss Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Total Profit/Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>INFY</td>
                <td>-$46.70</td>
            </tr>
            <tr>
                <td>T</td>
                <td>-$202.93</td>
            </tr>
            <tr>
                <td>NVDA</td>
                <td>-$543.8</td>
            </tr>
            <tr>
                <td>TSLA</td>
                <td>-$691.74</td>
            </tr>
            <tr>
                <td>GOOG</td>
                <td>-$1824.53</td>
            </tr>
            <tr>
                <td>AAPL</td>
                <td>-$5829.7</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    <h2>Profit and Loss Report</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Stock Symbol</th>
                <th>Profit/Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4</td>
                <td>INFY</td>
                <td>-$46.70</td>
            </tr>
            <tr>
                <td>1</td>
                <td>T</td>
                <td>-$202.93</td>
            </tr>
            <tr>
                <td>3</td>
                <td>NVDA</td>
                <td>-$543.8</td>
            </tr>
            <tr>
                <td>3</td>
                <td>AAPL</td>
                <td>-$651.36</td>
            </tr>
            <tr>
                <td>4</td>
                <td>AAPL</td>
                <td>-$753.12</td>
            </tr>
            <tr>
                <td>1</td>
                <td>AAPL</td>
                <td>-$1755.47</td>
            </tr>
        </tbody>
    </table>

    </form>

    <a href="/logout" class="btn btn-primary">Log Out</a>
{% endblock %}
